// Header
$header-link-color-hover: #303030;
$header-link-color: #5f5e5e;
$image-outline: #ffffff;
$name-border-small: #ffffff;
$name-border-large: #313131;
$header-shadow-color: #575757;

// Common
$container-max-width: 1000px;
$body-background: #ffffff;
$header-background: #ffd735;
$link-color: #3f8fff;
$link-hover-color: #275aa1;
$min-width: 400px;

// Tag
$tag-background-color: #e5eeff;
$tag-text-color: #3f8fff;

// Profile
$profile-color: #313131;

// Search
$search-box-border-color: #e6e6e6;
